/* ==================================================================================== */

/* Contact Page */

/* ==================================================================================== */

.btn-primary{
  background-color: dodgerblue !important;
  border: 2px solid dodgerblue !important;
  cursor: pointer;
  font-weight: bold;
  font-size: 20px;
  border-radius: 10px;
  padding: 10px;
  width: 130px;
  margin-top: 30px;
}
.btn-primary:hover {
  background-color: black !important;
  border: 2px solid black !important;
}
.form-control{
  background-color: #f2f2f2 !important;
  border: 2px solid black !important;
  border-radius: 0px !important;
  margin-top: 20px;
}
.contact-card {
  background-color: white;
  border: 3px solid #d1d1d1;
  padding: 30px;
  margin-bottom: 100px;
}

  /* ======================================== */
/* Mobile */
@media only screen and (max-width:599px) {
  .form-control {
    width: 80% !important;
  }
}

/* ======================================== */
/* Tablets */
@media (min-width: 600px) and (max-width: 1049px) {
  .form-control {
    width: 80% !important;
  }
}

/* ======================================== */
/* Desktop */
@media (min-width: 1050px) {
  .form-control {
    width: 50% !important;
  }
}