@import url('https://fonts.cdnfonts.com/css/amperzand');
@import url('https://fonts.googleapis.com/css?family=Hurricane&display=swap');

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 14px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #1DA1F2;
  color: white;
}

.navbar-brand {
  height: 56px;
}

.navbar {
  background-color: black;
}
.navbar-brand {
color: #f2f2f2;
padding-top: 10px;
}
.navbar-title {
font-family: 'Hurricane', sans-serif;
}

body {
  margin-top: 100px;
  overflow-y:scroll;
  font-family:  -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto;
  height: 100%;
}

.pre-body {
  height: 72px;
  width: 100%;
}

hr {
  color: lightgray;
  border-top: 1px solid lightgray;
}

.portfolio-item {
  padding: 10px;
  position: relative;
}
.portfolio-body {
  text-align: center;
  color: black;
  font-size: small;
  text-decoration: none;

  position: absolute;
  left: 0;
  right: 0;
  bottom: 50px;
  font-weight: bold;
}

/* 2 Column Portfolio Grid */
@media only screen and (max-width:500px) {
  .portfolio {
  display: flex;
  flex-wrap: wrap;
  }
  .col-6 {
    max-width: 49.99%;
  }
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.pagination {
  margin-bottom: 30px;
}

.card-title {
  color: black;
  padding-top: 0px;
  font-size: 20px;
  font-weight: bold;
}
.card-img-top {
  width: 200px;
  height: 220px;
  padding-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.card {
  border: 3px solid transparent;
  background-color: #f6f8fa;
  border: 3px solid #d1d1d1;
}
.card:hover {
  background-color: rgb(29, 161, 242, 0.3);
  border: 3px solid black;
}
.card-body {
  height: 150pt;
}

.footer-margin {
  height: 240pt;
}
.footer-bottom{
	width: 100%;
	padding: 2px 0;
  font-size: 12px;
	text-align: center;
  background-color: black;
  color: white;
  /* height: 30px; */
}
.footer-position{
  position: fixed;
  bottom: 0;
}

.button {
  background-color: transparent; 
  /* border: 2px solid #081D2E; */
  border-radius: 4px;
  color: black;
  padding: 1px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 150px;
  border: 4px solid transparent;
  cursor: pointer;
}

.contacts-btn {
  background-color: transparent; 
  padding: 0px 1px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 50px;
  border: 4px solid transparent;
}

.title-btn {
  font-family: 'Hurricane', sans-serif;
  font-size: 80px;
  font-weight: 500;
  background-color: transparent; 
  /* border: 2px solid #081D2E; */
  border-radius: 4px;
  color: black;
  padding: 1px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: auto;
  border: 4px solid transparent;
}

.btn {
  background-color: white;
  color: gray;
  border: 2px solid lightgray;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 1px;
  /* transition-duration: 0.4s; */
  width: 150px;
  cursor: pointer;
}

.btn:hover {
  color: white;
  background-color: black;
  border: 2px solid black;
}

.pdfbtn {
  background-color: white; 
  border: 3px solid black;
  border-radius: 4px;
  color: black;
  padding: 5px 10px;
  margin-top: 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 250px;
}

.pdfbtn:hover {
  background-color: black;
  border: 3px solid black;
  border-radius: 4px;
  color: white;
  padding: 5px 10px;
  margin-top: 4px;
  /* text-align: center; */
  text-decoration: none;
  /* display: inline-block; */
  width: 250px;
}

.btn-linkedin {
    background: #007bb6;
    border-color: #007bb6;
    color: white
}

.btn-github {
    background: #23282D;
    border-color: #23282D;
    color: white
}

.btn-email {
    background: #1DA1F2;
    border-color: #1DA1F2;
    color: white
}

.link_button {
  position: absolute;
  bottom: 15pt;
  right: 0;
  left: 0;
  margin: auto;
}

.projectFilter a {
  font-size: 20px;
  margin-right: 5px;
  margin-left: 5px;
  color:#081D2E;
  text-decoration:none;
}

.projectFilter a.current {
    font-weight: bold;
    border: 4px solid #1DA1F2;
}

.isotope-item {
    z-index: 2;
}
.isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1;
}
.isotope,
.isotope .isotope-item {
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    transition-duration: 0.8s;
}
.isotope {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    transition-property: height, width;
}
.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    transition-property: transform, opacity;
}

table {
  font-family: arial, sans-serif;
  table-layout:fixed;
}

td, th {
  border: 1px solid black;
  text-align: center;
  padding: 8px;
}

td { 
  overflow: hidden; 
  text-overflow: ellipsis; 
  word-wrap: break-word;
}

/* Image CSS */

img {
  max-width: 100%;
}

code {
  word-wrap: normal;
  background-color: #f6f8fa;
  color: black;
}
pre {
  padding: 8px 15px;
  background: #f6f8fa;
  border-radius: 5px;
  border: 1px solid #e5e5e5;
  overflow-x: auto; 
}
blockquote {
  /* background: #f6f8fa; */
  border-left: 0.25em solid #dfe2e5;
  /* margin: 1.5em 10px; */
  padding: 0 1em;
  margin-top: 20px;
}
blockquote:before {
  color: #ccc;
  /* content: open-quote; */
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
  font-size: normal;
  color: #6a737d;
  display: block;
  /* font-weight: bold; */
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.profile {
  border: 2px solid black;
  margin-bottom: 0%;
}

.background {
  background-image: url("../assets/images/photos/background.jpg");
  background-repeat: no-repeat; 
  background-position-y: 65%;
  background-position-x: center;
  background-attachment: fixed;       
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%; 
  width: 100%;
}

.home-title {
  font-family: 'Hurricane', sans-serif;
  font-size: 120px;
}

.home-btn {
  font-family: 'Hurricane', sans-serif;
  /* font-weight: 600; */
  font-size: 30px;
  background-color: black;
  border: 3px solid black;
  border-radius: 4px;
  display: inline-block;
  color: white;
  margin: 10px;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
  text-decoration: none;
  width: 200px;
}

.home-btn:hover {
  background-color: transparent;
  border: 3px solid white;
  border-radius: 4px;
  color: white;
  /* text-align: center; */
  text-decoration: none;
  /* display: inline-block; */
}

#myImg {
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

.close {
  cursor: pointer;
}

@media (min-width: 0px) and (max-width: 991px) {
  .navbar-collapse {
    margin-top: 0.5rem;
    border-top: 2px solid white;
  }
}

/* ==================================================================================== */

/* Mobile */
@media only screen and (max-width:599px) {
  .modal {
    margin-top:50px;
  }
  #table-scroll {
    height:300px;
    overflow:auto;
    margin-top:20px;
  }
  #table-wrapper table {
    width:100%;
  }
  #myBtn {
    position: fixed; /* Fixed/sticky position */
    bottom: 28px; /* Place the button at the bottom of the page */
    right: 20px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
  }

  .side-btn {
    position: fixed;
    bottom: 28px; 
    left: 20px; 
    z-index: 99; 
  }

  .side-btn2 {
    position: fixed;
    bottom: 98px; 
    left: 20px; 
    z-index: 99; 
    visibility: hidden;
  }

  .side-btn3 {
    position: fixed;
    bottom: 28px; 
    left: 20px; 
    z-index: 99; 
  }

  .section-nav {
    height: 100%;
    /* border-bottom-right-radius: 30px; */
    border-bottom: 180px solid #111;
  }

  .mobile-center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  table {
    overflow-x: auto;
    display: block;
  }

  .home-position {
    position: absolute;
    bottom: 190px;
    left: 0;
    right: 0
  }

  .column {
    width: 100%;
  }

  .navbar-dark .navbar-toggler-icon {
    background-image: url("../assets/images/icons/navbar-toggler.png");
  }
  .navbar-toggler {
    border: 2px solid transparent;
  }

  .navbar button[aria-expanded="true"] > span.navbar-toggler-icon {
    background-image: url("../assets/images/icons/navbar-toggler2.png");
  }
  .navbar button[aria-expanded="false"] > span.close {
    display: none;
  }
  
  .myMenu li a:hover {
    color: black;
    background-color: #ddd;
  }
}

/* ==================================================================================== */

/* Tablets */
@media (min-width: 600px) and (max-width: 1049px) {
  .image70t{
    width: 70%;
    /* height: 70%; */
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .modal {
    margin-top:50px;
  }
  #table-scroll {
    height:300px;
    overflow:auto;
    margin-top:20px;
  }
  #table-wrapper table {
    width:100%;
  }
  #myBtn {
    position: fixed; /* Fixed/sticky position */
    bottom: 28px; /* Place the button at the bottom of the page */
    right: 20px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */

  }

  .side-btn {
    position: fixed; /* Fixed/sticky position */
    bottom: 28px; /* Place the button at the bottom of the page */
    left: 20px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
  }

  .side-btn2 {
    position: fixed;
    bottom: 98px; 
    left: 20px; 
    z-index: 99; 
    visibility: hidden;
  }

  .side-bt3 {
    position: fixed;
    bottom: 28px;
    left: 20px;
    z-index: 99;
  }

  .section-nav {
    height: 100%;
    border-bottom: 180px solid #111;
  }

  .mobile-center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .column {
    width: 100%;
  }

  .navbar-dark .navbar-toggler-icon {
    background-image: url("../assets/images/icons/navbar-toggler.png");
  }
  .navbar-toggler {
    border: 2px solid transparent;
  }

  .side-btn:hover .tooltiptext {
    visibility: hidden;
  }

  .navbar button[aria-expanded="true"] > span.navbar-toggler-icon {
    background-image: url("../assets/images/icons/navbar-toggler2.png");
  }
  .navbar button[aria-expanded="false"] > span.close {
    display: none;
  }

  .myMenu li a:hover {
    color: black;
    background-color: #ddd;
  }
}

/* ==================================================================================== */

/* Desktop */
@media (min-width: 1050px) {
  .image50{
    width: 50%;
    height: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .image70{
    width: 70%;
    height: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  #myBtn {
    position: fixed; /* Fixed/sticky position */
    bottom: 40px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
  }

  #myBtn:hover {
    background-color: black;
    color: white;
    border: 3px solid black;
    border-radius: 10px;
  }

  .side-btn {
    padding-left: 0;
    position: fixed;
    top: 100px;
    z-index: 95;
  }
  .side-btn:hover {
    background-color: black;
    color: white;
    border: 3px solid black;
    border-radius: 10px;
  }

  .side-btn2 {
    padding-left: 0;
    position: fixed;
    top: 170px;
  }
  .side-btn2:hover {
    background-color: black;
    color: white;
    border: 3px solid black;
    border-radius: 10px;
  }

  .side-btn3 {
    padding-left: 0;
    position: fixed;
    top: 100px;
    z-index: 95; 
  }
  .side-btn3:hover {
    background-color: black;
    color: white;
    border: 3px solid black;
    border-radius: 10px;
  }

  .section-nav {
    height: 100%;
  }

  .section-nav li a:hover {
    color: white;
    background-color: #1DA1F2;
  }

  .column {
    width: 50%;
  }

  .collapsible:hover {
    background-color: #1DA1F2;
  }

  /* Tooltip text */
  .side-btn .tooltiptext {
    visibility: hidden;
    width: 250px;
    background-color: white;
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    border: 3px solid black;
    font-size: 20px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    top: 5px;
    margin-left: 25px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.1s;
  }
  .side-btn:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }

  /* Tooltip text */
  .side-btn2 .tooltiptext {
    visibility: hidden;
    width: 250px;
    background-color: white;
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    border: 3px solid black;
    font-size: 20px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    top: 5px;
    margin-left: 25px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.1s;
  }

  .side-btn2:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }

  /* Tooltip text */
  .side-btn3 .tooltiptext {
    visibility: hidden;
    width: 250px;
    background-color: white;
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    border: 3px solid black;
    font-size: 20px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    top: 5px;
    margin-left: 25px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.1s;
  }

  .side-btn3:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }

  #myMenu li a:hover {
    background-color: #1DA1F2;
    color: white;
  }

}

/* ==================================================================================== */

.side-btn .tooltiptext {
  visibility: hidden;
  position: absolute;
}

.side-btn2 .tooltiptext {
  visibility: hidden;
  position: absolute;
}

.side-btn3 .tooltiptext {
  visibility: hidden;
  position: absolute;
}

.section-nav .github-btn {
  background-color: black; 
  border: 3px solid white;
  border-radius: 4px;
  color: white;
  padding: 5px 10px;
  margin-top: 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 200px;
}

.section-nav .github-btn:hover {
  background-color: white;; 
  border: 3px solid white;;
  color: black;
}

#myBtn {
  display: none; /* Hidden by default */
  border: 3px solid black;
  outline: none; /* Remove outline */
  background-color: white; /* Set a background color */
  color: black; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
  transition-duration: 0.2s;
  width: 55px;
  text-align: center;
}

.side-btn {
  border: 3px solid black;
  outline: none; /* Remove outline */
  background-color: white; /* Set a background color */
  color: black; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 10.5px; /* Some padding */
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 10px; /* Rounded corners */
  font-size: 24px; /* Increase font size */
  transition-duration: 0.2s;
  width: 55px;
  text-align: center;
}

.side-btn2 {
  border: 3px solid black;
  outline: none; /* Remove outline */
  background-color: white; /* Set a background color */
  color: black; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 10.5px; /* Some padding */
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 10px; /* Rounded corners */
  font-size: 24px; /* Increase font size */
  transition-duration: 0.2s;
  width: 55px;
  text-align: center;
}

.side-btn3 {
  border: 3px solid black;
  outline: none; /* Remove outline */
  background-color: white; /* Set a background color */
  color: black; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 13.5px 0; /* Some padding */
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 10px; /* Rounded corners */
  font-size: 20px; /* Increase font size */
  transition-duration: 0.2s;
  width: 55px;
  text-align: center;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 90px;
}

.section-nav li.active > a {
  color: white;
  font-weight: bold;
}

/* Sidebar Navigation */
.section-nav {
  list-style: none;
  width: 0;
  position: fixed;
  z-index: 98;
  top: 0;
  margin-top: 72px;
  left: 0;
  background-color: #111;
  overflow: auto;
  transition: 0.5s;
  padding-top: 14px;
  white-space: nowrap;
  font-weight: bold;
  border-top: 4px solid white;
}

.section-nav ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

.section-nav ul {
  list-style: none;
}

.section-nav a {
  text-decoration: none;
  display: block;
  transition: all 50ms ease-in-out;
  padding: 8px 8px 8px 32px;
  font-size: 17px;
  color: #818181;
  white-space: nowrap;
  font-weight: bold;
}

.section-nav .closebtn {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 36px;
  margin-left: 50px;
  background-color: none;
  color: #818181;
  transition-duration: 0.2s;
  padding: 8px;
}

.section-nav .closebtn:hover {
  color:white;
  cursor: pointer;
}

.section-nav hr {
  color: white; 
  border-top: 4px solid white;
}

.section-nav pre {
  margin-left: 30px;
  width: 810px;
}

.section-nav .side-margin {
  margin-top: 30px;
  margin-bottom: 110px;
}

.toc {
  font-size: 20px;
  padding: 8px 8px 8px 32px;
  color: white;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: black;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 18px;
  border-top: 2px solid white;
  height: 60px;
  line-height: 21px;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  background-color: white;
  border: 2px solid black;
  border-top: none;
  border-bottom: none;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}
.content:before {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.collapsible:after {
  content: '+'; /* Unicode character for "plus" sign (+) */
  font-size: 25px;
  font-weight: bold;
  color: white;
  float: right;
  line-height: 17px;
}

.collapsible.active::after {
  content: '\2212';
  font-size: 25px;
  font-weight: bold;
  color: white;
  float: right;
}

.details{
  width: 100%;
  display: flex;  
  justify-content: space-between;
  margin-bottom: 10px;
}
.bar{
  position: relative;
  border: 2px solid #1DA1F2;
  border-radius: 20px;
  margin-bottom: 15px;
  margin-top: -5px;
}
.bar div{
  position: relative;
  width: 0;
  height: 9px;
  border-radius: 10px;
  background-color: #1DA1F2;
}

#python-bar{
  animation: python-fill 5s forwards;
}

@keyframes python-fill{
  100%{
      width: 90%;
  }
}

#sql-bar{
  animation: sql-fill 5s forwards;
}
@keyframes sql-fill {
  100%{
      width: 65%;
  }
}

#js-bar{
  animation: js-fill 5s forwards;
}
@keyframes js-fill{
  100%{
      width: 40%;
  }
} 

#r-bar{
  animation: r-fill 5s forwards;
}
@keyframes r-fill{
  100%{
      width: 50%;
  }
} 

#html-bar{
  animation: html-fill 5s forwards;
}
@keyframes html-fill{
  100%{
      width: 80%;
  }
} 

#css-bar{
  animation: css-fill 5s forwards;
}
@keyframes css-fill{
  100%{
      width: 85%;
  }
} 

#lightroom-bar{
  animation: lightroom-fill 5s forwards;
}
@keyframes lightroom-fill{
  100%{
      width: 75%;
  }
} 

#photoshop-bar{
  animation: photoshop-fill 5s forwards;
}
@keyframes photoshop-fill{
  100%{
      width: 85%;
  }
} 

#illustrator-bar{
  animation: illustrator-fill 5s forwards;
}
@keyframes illustrator-fill{
  100%{
      width: 40%;
  }
} 

/* Style the header: fixed position (always stay at the top) */
.header {
  position: fixed;
  bottom: 0;
  z-index: 1;
  width: 100%;
  background-color: #f1f1f1;
}

/* The progress container (grey background) */
.progress-container {
  width: 100%;
  height: 8px;
  background: #ccc;
  position: fixed;
  top: 0;
  z-index:1200;
}

/* The progress bar (scroll indicator) */
.progress-bar {
  height: 8px;
  background: #1DA1F2;
  width: 0%;
}

#mySearch {
  width: 68%;
  font-size: 20px;
  padding: 8px;
  margin-left: 32px;
  border-radius: 5px;
}

/* Style the navigation menu */
#myMenu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Style the navigation links */
#myMenu li a {
  text-decoration: none;
  color: white;
  font-weight: none;
  display: block;
  padding: 8px 8px 8px 32px;
}

.search-container i {
  background: transparent;
  color: white;
  border: none;
  padding: 8px;
  font-size: 22px;
}

.fixed-position {
  overflow: hidden;
}

input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  cursor: pointer;
  height: 15px;
  width: 15px;
  background-size: contain;
  background-image: url("../assets/images/icons/close.png");
  cursor: pointer;

}
