@import url('https://fonts.cdnfonts.com/css/amperzand');
@import url('https://fonts.googleapis.com/css?family=Hurricane&display=swap');

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 14px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #1DA1F2;
  color: white;
}

body {
  margin-top: 30px;
  overflow-y:scroll;
  font-family:  -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto;
  height: 100%;
}

hr {
  color: lightgray;
  border-top: 1px solid lightgray;
}

.portfolio-item {
  padding: 10px;
  position: relative;
}
.portfolio-body {
  text-align: center;
  color: black;
  font-size: small;
  text-decoration: none;

  position: absolute;
  left: 0;
  right: 0;
  bottom: 50px;
  font-weight: bold;
}

/* 2 Column Portfolio Grid */
@media only screen and (max-width:500px) {
  .portfolio {
  display: flex;
  flex-wrap: wrap;
  }
  .col-6 {
    max-width: 49.99%;
  }
}

.pagination {
  margin-bottom: 30px;
}

.navbar {
    background-color: black;
}
.navbar-brand {
  color: #f2f2f2;
  padding-top: 10px;
}
.navbar-title {
  font-family: 'Hurricane', sans-serif;
}

.card-title {
  color: black;
  padding-top: 0px;
  font-size: 20px;
  font-weight: bold;
}
.card-img-top {
  width: 200px;
  height: 220px;
  padding-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.card {
  border: 3px solid transparent;
  background-color: #f6f8fa;
  border: 3px solid #d1d1d1;
}
.card:hover {
  background-color: rgb(29, 161, 242, 0.3);
  border: 3px solid black;
}
.card-body {
  height: 150pt;
}

.footer-margin {
  height: 240pt;
}
.footer-bottom{
	width: 100%;
	padding: 2px 0;
  font-size: 12px;
	text-align: center;
  background-color: black;
  color: white;
}
.footer-position{
  position: fixed;
  bottom: 0;
}

.button {
  background-color: transparent; 
  /* border: 2px solid #081D2E; */
  border-radius: 4px;
  color: black;
  padding: 1px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 150px;
  border: 4px solid transparent;
  cursor: pointer;
}

.contacts-btn {
  background-color: transparent; 
  padding: 0px 1px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 50px;
  border: 4px solid transparent;
}

.title-btn {
  font-family: 'Hurricane', sans-serif;
  font-size: 80px;
  font-weight: 500;
  background-color: transparent; 
  /* border: 2px solid #081D2E; */
  border-radius: 4px;
  color: black;
  padding: 1px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: auto;
  border: 4px solid transparent;
}

.btn {
  background-color: white;
  color: gray;
  border: 2px solid lightgray;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 1px;
  /* transition-duration: 0.4s; */
  width: 150px;
  cursor: pointer;
}

.btn:hover {
  color: white;
  background-color: black;
  border: 2px solid black;
}

.pdfbtn {
  background-color: white; 
  border: 3px solid black;
  border-radius: 4px;
  color: black;
  padding: 5px 10px;
  margin-top: 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 250px;
}

.pdfbtn:hover {
  background-color: black;
  border: 3px solid black;
  border-radius: 4px;
  color: white;
  padding: 5px 10px;
  margin-top: 4px;
  /* text-align: center; */
  text-decoration: none;
  /* display: inline-block; */
  width: 250px;
}

.btn-linkedin {
    background: #007bb6;
    border-color: #007bb6;
    color: white
}

.btn-github {
    background: #23282D;
    border-color: #23282D;
    color: white
}

.btn-email {
    background: #1DA1F2;
    border-color: #1DA1F2;
    color: white
}

.link_button {
  position: absolute;
  bottom: 15pt;
  right: 0;
  left: 0;
  margin: auto;
}

.projectFilter a {
  font-size: 20px;
  margin-right: 5px;
  margin-left: 5px;
  color:#081D2E;
  text-decoration:none;
}

.projectFilter a.current {
    font-weight: bold;
    border: 4px solid #1DA1F2;
}

.isotope-item {
    z-index: 2;
}
.isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1;
}
.isotope,
.isotope .isotope-item {
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    transition-duration: 0.8s;
}
.isotope {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    transition-property: height, width;
}
.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    transition-property: transform, opacity;
}

/* Table CSS */

@media only screen and (max-width: 500px) {
  /* horizontal scrollbar for tables if mobile screen */
  table {
      overflow-x: auto;
      display: block;
  }

  .home-position {
    position: absolute;
    bottom: 190px;
    left: 0;
    right: 0
  }
}

table {
  font-family: arial, sans-serif;
  table-layout:fixed;
}

td, th {
  border: 1px solid black;
  text-align: center;
  padding: 8px;
}

td { 
  overflow: hidden; 
  text-overflow: ellipsis; 
  word-wrap: break-word;
}

/* Image CSS */

img {
  max-width: 100%;
}

code {
  word-wrap: normal;
  background-color: #f6f8fa;
  color: black;
}
pre {
  padding: 8px 15px;
  background: #f6f8fa;
  border-radius: 5px;
  border: 1px solid #e5e5e5;
  overflow-x: auto; 
}
blockquote {
  /* background: #f6f8fa; */
  border-left: 0.25em solid #dfe2e5;
  /* margin: 1.5em 10px; */
  padding: 0 1em;
  margin-top: 20px;
}
blockquote:before {
  color: #ccc;
  /* content: open-quote; */
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
  font-size: normal;
  color: #6a737d;
  display: block;
  /* font-weight: bold; */
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.profile {
  border: 2px solid black;
  margin-bottom: 0%;
}

.background {
  background-image: url("../assets/images/photos/background.jpg");
  background-repeat: no-repeat; 
  background-position-y: 65%;
  background-position-x: center;
  background-attachment: fixed;       
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%; 
  width: 100%;
}

.home-title {
  font-family: 'Hurricane', sans-serif;
  font-size: 120px;
}

.home-btn {
  font-family: 'Hurricane', sans-serif;
  /* font-weight: 600; */
  font-size: 30px;
  background-color: black;
  border: 3px solid black;
  border-radius: 4px;
  display: inline-block;
  color: white;
  margin: 10px;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
  text-decoration: none;
  width: 200px;
}

.home-btn:hover {
  background-color: transparent;
  border: 3px solid white;
  border-radius: 4px;
  color: white;
  /* text-align: center; */
  text-decoration: none;
  /* display: inline-block; */
}

#myImg {
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

.close {
  cursor: pointer;
}

/* Mobile */
@media only screen and (max-width:500px) {
  .modal {
    margin-top:50px;
  }
  #table-scroll {
    height:300px;
    overflow:auto;
    margin-top:20px;
  }
  #table-wrapper table {
    width:100%;
  }
  #myBtn {
    position: fixed; /* Fixed/sticky position */
    bottom: 28px; /* Place the button at the bottom of the page */
    right: 20px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
  }

  .side-btn {
    position: fixed;
    bottom: 28px; 
    left: 20px; 
    z-index: 99; 
  }

  .section-nav {
    border-top: 76px solid white;
    height: 800px;
  }

  .mobile-center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

}

/* Desktop */
@media (min-width: 1200px) {
  body {
    padding-top: 56px;
  }
  .image50{
    width: 50%;
    height: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .image70{
    width: 70%;
    height: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  #myBtn {
    position: fixed; /* Fixed/sticky position */
    bottom: 40px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
  }

  #myBtn:hover {
    background-color: black;
    color: white;
    border: 3px solid black;
    border-radius: 10px;
  }

  .side-btn {
    padding-left: 0;
    position: fixed;
    top: 100px;
  }
  .side-btn:hover {
    background-color: black;
    color: white;
    border: 3px solid black;
    border-radius: 10px;
  }

  .section-nav {
    border-top: 75px solid white;
    height: 100%;
  }

  .section-nav li a:hover {
    color: white;
    background-color: #1DA1F2;
  }

}

/* Tablets */
@media (min-width: 500px) and (max-width: 1200px) {
  .modal {
    margin-top:50px;
  }
  #table-scroll {
    height:300px;
    overflow:auto;
    margin-top:20px;
  }
  #table-wrapper table {
    width:100%;
  }
  #myBtn {
    position: fixed; /* Fixed/sticky position */
    bottom: 28px; /* Place the button at the bottom of the page */
    right: 20px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */

  }

  .side-btn {
    position: fixed; /* Fixed/sticky position */
    bottom: 28px; /* Place the button at the bottom of the page */
    left: 20px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
  }

  .section-nav {
    border-top: 77px solid white;
    height: 100%;
  }

  .mobile-center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}

#myBtn {
  display: none; /* Hidden by default */
  border: 3px solid black;
  outline: none; /* Remove outline */
  background-color: white; /* Set a background color */
  color: black; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
  transition-duration: 0.2s;
}

.side-btn {
  border: 3px solid black;
  outline: none; /* Remove outline */
  background-color: white; /* Set a background color */
  color: black; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 10.5px; /* Some padding */
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 10px; /* Rounded corners */
  font-size: 24px; /* Increase font size */
  transition-duration: 0.2s;
}

/* 1. Enable smooth scrolling */
html {
  scroll-behavior: smooth;
  scroll-padding-top: 90px;
}

/* 3. ScrollSpy active styles (see JS tab for activation) */
.section-nav li.active > a {
  color: white;
  font-weight: bold;
}

/* Sidebar Navigation */
.section-nav {
  list-style: none;
  width: 0;
  position: fixed;
  z-index: 1; /* Make sure it does not overlap */
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 14px;
  padding-bottom: 20px;
  white-space: nowrap;
  font-weight: bold;
  overflow:hidden; 
}

.section-nav ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

.section-nav ul {
  list-style: none;
}

.section-nav a {
  text-decoration: none;
  display: block;
  transition: all 50ms ease-in-out; /* 💡 This small transition makes setting of the active state smooth */
  padding: 8px 8px 8px 32px;
  font-size: 17px;
  color: #818181;
  white-space: nowrap;
  font-weight: bold;
}

.section-nav .closebtn {
  position: absolute;
  top: 0;
  margin-top: -10px;
  right: 10px;
  font-size: 36px;
  margin-left: 50px;
  background-color: none;
}

.section-nav .closebtn:hover {
  color:white
}

.toc {
  font-size: 20px;
  padding: 8px 8px 8px 32px;
  color: white;
}
